body {
    background-color: #c8ca61;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-size: medium;
}

.container {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    height: 100vh;
    /*100% of the viewport*/
    width: 100%;
    position: relative;
}

p {
    text-align: justify;
}

#intro {
    background-image: url('../images/BoxingGirlBags.jpg');
    background-size: cover;
    height: 100vh;
}

#about {
    background-image: url('../images/BoxingBoys.jpg');
    background-size: cover;
    height: 100vh;
}

#punchingBag {
    border: 4px solid rgba(240, 255, 255, 0.200);
    width: 15%;
    height: auto;
    border-radius: 50%;
}


/*Mobile version*/

@media only screen and (max-width: 1000px) {

    #intro {
        background-size: cover;
        background-position: -600px;
        padding-top: 15%;
    }

    #punchingBag {
        width: 55%;
    }

    #about {
        height: 100%;
    }

}